<li class="dropdown">
    <a href="#!" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li >
          
          <a href="https://thawing-peak-33101.herokuapp.com/index">Venkat Raghava Sampath Vagicharla</a>
        </li>
        <li >
          <a href="https://akshara-firstapp.herokuapp.com/">Akshara Gurram</a>
          
        </li>
        <li >
          <a href="#">Indra Reddy</a>
        </li>
        
    </ul>
  </li>
