<div class="container">
    
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="color:aquamarine"><h4>E-Commerce Website</h4></a>
        <a class="navbar-brand" href="/" style="color:aquamarine"><h4> Welcome Shopper's</h4></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/customer" style="color:blue"><h4>Customers</h4></a>
          </li>
          <li>
              <a href="/order" style="color:blue"><h4>Orders</h4></a>
            </li>
            <li>
                <a href="/product" style="color:blue"><h4>Products</h4></a>
              </li>
              <li>
                  <a href="/orderlineitem" style="color:blue"><h4>OrderLineItems</h4></a>
                  
                </li>
                <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">About Us
        <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="https://thawing-peak-33101.herokuapp.com/index"> Venkat Raghava Sampath Vagicharla</a></li>
          <li><a href="https://akshara-firstapp.herokuapp.com/">Akshara Gurram</a></li>
          <li><a href="https://radiant-forest-12658.herokuapp.com/">Indra Reddy</a></li>
        </ul>
      </li>
                
        </ul>

      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
</div>