<div class="container-fluid">
    <div class=row>
      <div class="col col-md-12">
        <h1>Ecommerce Website</h1>
        <h1>Team 07-09</h1>
        <br/>
        <h2>This is a Shopping site. </h2>
        <br/>
        <hr>
        <h3>Click on the below links to navigate various modules.</h3>
        <br/>
        <br/>
         <h3>Customer Details</h3>
          <a href="https://ecommerce709.herokuapp.com/customer">https://ecommerce709.herokuapp.com/customer</a><br>
          <a href="https://ecommerce709.herokuapp.com/customer/delete/1">https://ecommerce709.herokuapp.com/customer/delete/1</a><br>
          <a href="https://ecommerce709.herokuapp.com/customer/details/1">https://ecommerce709.herokuapp.com/customer/details/1</a><br>
          <a href="https://ecommerce709.herokuapp.com/customer/edit/1">https://ecommerce709.herokuapp.com/customer/edit/1</a><br>
          <a href="https://ecommerce709.herokuapp.com/customer/create">https://ecommerce709.herokuapp.com/customer/create</a><br>
          <a href="https://ecommerce709.herokuapp.com/customer/findall">https://ecommerce709.herokuapp.com/customer/findall</a><br>
          <a href="https://ecommerce709.herokuapp.com/customer/findone/1">https://ecommerce709.herokuapp.com/customer/findone/1</a><br>
        <h3>product details:</h3>      
         <a href="https://ecommerce709.herokuapp.com/product/create">https://ecommerce709.herokuapp.com/product/create </a>
         <a href="https://ecommerce709.herokuapp.com/product/delete/1">https://ecommerce709.herokuapp.com/product/delete/1</a>
         <a href="https://ecommerce709.herokuapp.com/product/details/1">https://ecommerce709.herokuapp.com/product/details/1</a>
         <a href="https://ecommerce709.herokuapp.com/product/edit/1">https://ecommerce709.herokuapp.com/product/edit/1</a>
         <a href="https://ecommerce709.herokuapp.com/product/findall">https://ecommerce709.herokuapp.com/product/findall</a>
         <a href="https://ecommerce709.herokuapp.com/product/findone/1">https://ecommerce709.herokuapp.com/product/findone/1</a>
         <h3>oder details:</h3>
         <a href="https://ecommerce709.herokuapp.com/order">https://ecommerce709.herokuapp.com/order</a>
         <a href="https://ecommerce709.herokuapp.com/order/create">https://ecommerce709.herokuapp.com/order/create</a>
         <a href="https://ecommerce709.herokuapp.com/order/delete/1">https://ecommerce709.herokuapp.com/order/delete/1</a>
         <a href="https://ecommerce709.herokuapp.com/order/details/1">https://ecommerce709.herokuapp.com/order/details/1</a>
         <a href="https://ecommerce709.herokuapp.com/order/edit/1">https://ecommerce709.herokuapp.com/order/edit/1</a>
         <a href="https://ecommerce709.herokuapp.com/order/findall">https://ecommerce709.herokuapp.com/order/findall</a>
         <a href="https://ecommerce709.herokuapp.com/order/findone/1">https://ecommerce709.herokuapp.com/order/findone/1</a>
        
        
        <h4>Views</h4>
        <ol>
          <li>
            <a href="/customer">http://localhost:8089/customer</a>
          </li>
          <li>
            <a href="/order">http://localhost:8089/Order</a>
          </li>
          <li>
            <a href="/orderline">http://localhost:8089/orderline</a>
          </li>
          <li>
            <a href="/product">http://localhost:8089/product</a>
          </li>
          <!-- <li>
            <a href="http://localhost:8089/puppy/create">http://localhost:8089/puppy/create</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/puppy/edit/1">http://localhost:8089/puppy/edit/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/puppy/edit/2">http://localhost:8089/puppy/edit/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/puppy/edit/3">http://localhost:8089/puppy/edit/3</a>
          </li>
  
          <li>
            <a href="http://localhost:8089/puppy/delete/1">http://localhost:8089/puppy/delete/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/puppy/delete/2">http://localhost:8089/puppy/delete/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/puppy/delete/3">http://localhost:8089/puppy/delete/3</a>
          </li>
   >
          <li>
            <a href="http://localhost:8089/puppy/details/1">http://localhost:8089/puppy/details/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/puppy/details/2">http://localhost:8089/puppy/details/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/puppy/details/3">http://localhost:8089/puppy/details/3</a>
          </li>
  
        </ol>
        <br/>
        <h4>GET JSON</h4>
        <ol>
  
          <li>
            <a href="http://localhost:8089/puppy/findall">http://localhost:8089/puppy/findall</a>
          </li>
          <li>
            <a href="http://localhost:8089/puppy/findone/1">http://localhost:8089/puppy/findone/1</a>
          </li>
          <li>
            <a href="http://localhost:8089/puppy/findone/2">http://localhost:8089/puppy/findone/2</a>
          </li>
          <li>
            <a href="http://localhost:8089/puppy/findone/3">http://localhost:8089/puppy/findone/3</a>
          </li-->
  
        </ol>
  
  
      </div>
    </div>
  </div>
  