
<br/>
<br/>
<h2>Order details</h2>
    <br/> ID:
    <%=order._id %>
    <br> DATE PLACED:
    <%=order.datePlaced %>
    <br> DATE SHIPPED:
    <%=order.dateShipped %>
    <br> PAYMENT TYPE:
    <%=order.paymentType %>
     <br>AMOUNT DUE:
    <%=order.amountDue %>
     <br>PAYMENT:
    <%=order.paid %>
     <br>CUSTOMER:
    <%=order.customer_id %>
    
   <br/>   
            <br/>
            <br/>
            <form method="get" action="/order">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>