<!-- main  -->
<div class=row>
    <div class="col col-xs-12">
        
      <div class="form-group">
        <label for="datePlaced">Date Order Placed</label>
        <input type="Date" class="form-control" id="datePlaced" name="datePlaced" value="<%= order.datePlaced %>" required>
      </div>
      <div class="form-group">
        <label for="dateShipped">Date shipped</label>
        <input type="Date" class="form-control" id="dateShipped" name="dateShipped" value="<%= order.dateShipped %>" required>
      </div>
      <div class="form-group">
        <label for="paymentType">Payment Type</label>
        <select class="form-control" id="paymentType" name="paymentType" dateShipped="paymentType" value="select"
          required>
          <option value="no selection">Select</option>
          <option value="cash">Cash</option>
          <option value="credit card">Credit Card</option>
          <option value="check">Check</option>
        </select>
      </div>
      
      <div class="form-group">
        <label for="amountDue">Amount due</label>
        <input type="number" class="form-control" id="amountDue" name="amountDue" value="<%= order.amountDue %>">
      </div>
      <div class="form-group">
        <label for="paid">Paid</label>
        <select class="form-control" id="paid" name="paid" dateShipped="paid" value="select">
            <option value="no selection">Select</option>
          <option value="true">Yes</option>
          <option value="false">No</option>
        </select>
      </div>
      <div class="form-group">
        <label for="customer_id">Customer id</label>
        <input type="number" class="form-control" id="customer_id" name="customer_id" value="<%= order.customer_id %>" required>
      </div>
      
      
    </div>
  </div>
  
 