
<br/>
<br/>
<h2>Product details</h2>
    <br/> ID:
    <%=product._id %>
    <br> Product Key:
    <%=product.productKey %>
    <br> Product Description:
    <%=product.description %>
    <br> Unit Price:
    <%=product.unitPrice %>
       <br/>   
    
   <br/>   
            <br/>
            
            <br/>
            <form method="get" action="/order">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>