<!-- main  -->
<div class=row>
        <div class="col col-xs-12">
            
          <div class="form-group">
            <label for="productKey">Product Name</label>
            <input type="text" class="form-control" id="productKey" name="productKey" value="<%= product.productKey %>" required>
          </div>
          <div class="form-group">
            <label for="description"> Product Description</label>
            <input type="text" class="form-control" id="description" name="description" value="<%= product.description %>" required>
          </div>
          <div class="form-group">
            <label for="unitPrice">Product Price</label>
            <input type="text" class="form-control" id="unitPrice" name="unitPrice" value="<%= product.unitPrice %>" required>
          </div>
         
        </div>
      </div>
      
     