
<br/>
<br/>
<h2>customer details</h2>
    <br/> ID:
    <%=customer._id %>
    <br> email:
    <%=customer.email%>
    <br> given:
    <%=customer.given %>
    <br> family:
    <%=customer.family %>
     <br> street1:
    <%=customer.street1 %>
     <br>street2:
    <%=customer.street2 %>
     <br>city:
    <%=customer.city %>
        <br>state:
     <%=customer.state %>
         <br>zip:
         <%=customer.zip %>
             <br>country:
             <%=customer.country %>
   <br/>   
            <br/>
            <br/>
            <form method="get" action="/customer">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>